name: Youtube Algolia
on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"
env:
  ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
  ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
  GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
jobs:
  scrape_youtube:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - run: npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.WEBMASTER_GITHUB_ACTIONS_TOKEN }}
      - run: node ./scripts/youtube_algolia.js --algoliaAppId=${{ secrets.ALGOLIA_APP_ID }} --algoliaApiKey=${{ secrets.ALGOLIA_API_KEY }} --algoliaIndexName=prod_news_videos --apiKey=${{ secrets.GOOGLE_API_KEY }}